{{#each post.comments as |comment|}}
   <article class="comment">
      <p class="comment-username">{{comment.username}}:</p>
      <p class="comment-body">{{comment.body}}</p>
   </article>
{{/each}}
{{#if post.comments.length < 2}}
   <div class="add-comment">
      <form>
         <textarea></textarea>
         <button type="submit">Comment</button>
      </form>
   </div>
{{/if}}