<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <header>
    <h1><span>r</span>00<span>ster</span></h1>


  <nav>
    <a href="/"><button>HOME</button></a>
    <a href="/dashboard"><button>DASHBOARD</button></a>
    {{#if user}}
    <a href="/logout"><button>LOGOUT</button></a>
    {{else}}
    <a href="/login"><button>LOGIN</button></a>
    {{/if}}
  </nav>
  </header>

  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="/js/eyes.js"
</body>


</html>