{{#each userPost as |post|}}
<div>
   <h2>Post Title</h2>
   <div>
      <p>Post Textarea</p>
      <p>Time posted</p>
      <div><button>Edit</button><button>Delete</button></div>
   </div>

</div>

{{/each}}