{{#if logged_In}}
<div></div>
{{else}}
   <aside>
      <h2></h2>
      <div></div>
      <section></section>
   </aside>
{{/if}}
{{#each userPost as |post|}}
<div>
   <h2> </h2>
   <div>
      <p></p>
      <p></p>
   </div>

</div>
{{/each}}